@import url(./__link/train-traveling__link.css);
@import url(./__title/train-traveling__title.css);
@import url(./__image/train-traveling__image.css);
@import url(./__subtitle/train-traveling__subtitle.css);
@import url(./__cover/train-traveling__cover.css);

.train-traveling {
    display: flex;
    margin: 0 auto;
    padding: 92px 48px 0;
    max-width: 1184px;
    min-height: 740px;
}

@media all and (max-width: 1023px) {
    .train-traveling {
        padding: 88px 0 0;
    }
}

@media all and (max-width: 767px) {
    .train-traveling {
        padding: 64px 0 0;
    }
}