@import url(./__list/places__list.css);
@import url(./__item/places__item.css);
@import url(./__image/places__image.css);
@import url(./__title/places__title.css);
@import url(./__url/places__url.css);
@import url(./__link/places__link.css);
@import url(./__text/places__text.css);
@import url(./__paragraph/places__paragraph.css);
@import url(./__url-link/places__url-link.css);

.places {
    margin: 0 auto;
    padding: 92px 0 0;
}

@media all and (max-width: 1023px) {
    .places {
        padding: 88px 0 0;
    }
}

@media all and (max-width: 767px) {
    .places {
        padding: 64px 0 0;
    }
}