.pictures__item {
    margin: 0;
    padding: 0;
    max-height: 213px;
}

@media screen and (max-width: 1279px) {
    .pictures__item {
        max-height: 225px;
    }
}

@media all and (max-width: 1023px) {
    .pictures__item {
        max-height: 264px;
    }
}

@media all and (max-width: 676px) {
    .pictures__item {
        max-height: 216px;
    }
}