@import url(./__logo/header__logo.css);
@import url(./__link/header__link.css);
@import url(./__link/_active/header__link_active.css);

.header {
    display: flex;
    margin: 0 auto;
    padding: 28px 48px 0;
}