@import url(./__logo/header__logo.css);
@import url(./__toggle/header__toggle.css);
@import url(./__toggle/_active/header__toggle_active.css);
@import url(./__lang/header__lang.css);

.header {
    display: flex;
    margin: 0 auto;
    padding: 28px 48px 0;
}

@media all and (max-width: 1023px) {
    .header {
        display: flex;
        margin: 0 auto;
        padding: 28px 24px 0;
    }
}

@media all and (max-width: 767px) {
    .header {
        display: flex;
        margin: 0 auto;
        padding: 16px 16px 0;
    }
}