.pictures__image {
    max-width: 284px;
    min-height: 213px;
    object-fit: cover;
}

@media screen and (max-width: 1280px) {
    .pictures__image {
        min-width: 300px;
        min-height: 225px;
    }
}