.real-country__caption {
    font-size: 10px;
    line-height: 1.4;
    font-weight: normal;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

@media all and (max-width: 1023px) {
    .real-country__caption {
        margin-left: 24px;
    }
}

@media all and (max-width: 767px) {
    .real-country__caption {
        margin-left: 16px;
    }
}