.header__toggle {
    align-self: flex-end;
    font-size: 24px;
    line-height: 1.17;
    color: #ffffff;
    text-decoration: none;
    transition: opacity 0.3s ease-in;
}

.header__toggle:hover {
    opacity: 0.8;
}

@media all and (max-width: 767px) {
    .header__toggle {
        font-size: 18px;
        line-height: 1.33;
    }
}