.train-traveling__title {
    font-size: 72px;
    line-height: 1.06;
    font-weight: 900;
    text-align: center;
    margin: 0 auto 16px;
}

@media all and (max-width: 767px) {
    .train-traveling__title {
        font-size: 32px;
        line-height: 1.09;
        width: 255px;
    }
}