.train-traveling__subtitle {
    position: absolute;
    top: 429px;
    left: 0;
    bottom: 0; 
    right: 0;
    width: 50%;
    height: 50%;
    max-width: 360px;
    font-size: 18px;
    line-height: 1.22;
    font-weight: normal;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 1280px) {
    .train-traveling__subtitle {
        top: 379px;
    }
}