@import url(./__list/pictures__list.css);
@import url(./__item/pictures__item.css);
@import url(./__image/pictures__image.css);

.pictures {
    display: flex;
    padding-top: 92px;
}

@media all and (max-width: 1023px) {
    .pictures {
        padding-top: 88px;
    }
}

@media all and (max-width: 767px) {
    .pictures {
        padding-top: 64px;
    }
}