.places__item {
    display: grid;
    max-width: 984px;
    grid-template-columns: 4fr 5fr;
    grid-template-rows: min-content 1fr;
    grid-gap: 48px 40px;
    grid-template-areas: 
    'title url'
    'image paragraph';
    padding: 0 148px;
    margin: 0 auto;
}

@media screen and (max-width: 1279px) {
    .places__item {
        max-width: 928px;
        grid-gap: 48px 32px;
        padding: 0 48px;
    }
}

@media all and (max-width: 1023px) {
    .places__item {
        grid-template-columns: 4.83fr 5fr;
        max-width: 720px;
        grid-gap: 48px 28px;
        padding: 0 24px;
    }
} 

@media all and (max-width: 767px) {
    .places__item {
        grid-template-areas: 
        'title'
        'image'
        'paragraph';
        grid-template-columns: 100%;
        grid-template-rows: min-content;
        grid-row-gap: 32px;
        grid-column-gap: 0;
        padding: 0;
        margin: 0 auto;
        max-width: 320px;
    }
}